body {
  font-family: 'Montserrat', sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #F97316; /* This is the color orange-500 in Tailwind CSS */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color (optional) */
}


.Toastify__toast--default {
  background-color: #f97316; /* orange-500 */
}

.Toastify__toast-container {
  margin: 0;
  padding: 0;
}

/* styles.css */
@keyframes borderPulse {
  0% {
    border-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    border-color: rgba(255, 255, 255, 1);
  }
  100% {
    border-color: rgba(255, 255, 255, 0.5);
  }
}

.animate-border {
  animation: borderPulse 2s infinite;
}
